.wrapper {
  text-align: center;
  padding-top: 100px;
}

.glass {
  /* Background styles */
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  /* fallback for IE */
  background-color: green;
  background-image: linear-gradient(green, lightgreen);

  /* Text styles */
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 100;

  /* Finishing touch */
  border-radius: 3px;
  box-shadow: 0 1px 4px -2px #333;
}

.glass:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: 50%;
  background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.2));
}
